/* gestion des imports de polices*/
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap'); /* font-family: 'IM Fell Double Pica', serif; */
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap'); /* font-family: 'Over the Rainbow', cursive; */

/* gestion des tailles et des couleurs de sections*/
.height100 {
    height: 100px;
}
.heightFC {
    height: 800px;
}
.backgroundColorDarkBlue{
    background-color: rgb(21,32,43);
}
.width130 {
    width: 130px;
}
/* gestion des flex */
.flex {
    display: flex;
}
.flexColumn {
    flex-direction: column;
}
.spaceBetweenJC {
    justify-content: space-between;
}
.centerJC {
    justify-content: center;
}
.centerAlignItem {
    align-items: center;
}
.gap50 {
    gap: 50px;
}
.gap25 {
    gap: 25px
}
.display-none {
    visibility: hidden;
}
.display-yes {
    visibility: visible;
}
/* gestion des marges */
.paddingLeft50 {
    padding-left: 50px;
}
.paddingLeft20 {
    padding-left: 20px;
}
.paddingRight50 {
    padding-right: 50px;
}
.paddingTop15 {
    padding-top: 15px;
}
.paddingTop30 {
    padding-top: 30px;
}
.paddingTop70 {
    padding-top: 70px;
}
.paddingAll10 {
    padding: 10px;
}
/* gestion des images */
.imgSmallSize {
    width: 150px;
    height: 150px;
}
.imgMediumSize {
    width: 200px;
    height: 200px;
}
.border {
    border: 3px solid;
    border-radius: 10px;
}
.borderColorBlue {
    border-color: #119FBE;
}
.borderColorRed {
    border-color: rgb(161, 17, 17);
} 
.backgroundColorImg {
    background-color: #F7F9F9;
}

/* gestion du texte */
.fontDoublePica {
    font-family: 'IM Fell Double Pica', serif;
}
.fontOverTheRainbow {
    font-family: 'Over the Rainbow', cursive;
}
.fontSize20 {
    font-size: 20px;
}
.fontSize30 {
    font-size: 30px;
}
.fontSize40 {
    font-size: 40px;
}
.textAlignCenter {
    text-align: center;
}
.fontColorWhite {
    color: #F7F9F9;
}
.fontColorBlue {
    color: #119FBE;
}
.fontColorDarkBlue {
    color: rgb(21,32,43);
}
.fontColorRed {
    color: rgb(161, 17, 17);
}
.decorationUnderline {
    text-decoration: underline;
}
/* gestion des puces */
.backgroundImgStone {
    background-image : url("../img/logoPierreBlanc.png");
}
.backgroundImgScissors {
    background-image: url("../img/logociseauxBlanc.png");
}
.backgroundImgPaper {
    background-image: url("../img/logoPapierBlanc.png");
}
.puce {
    background-position: 0 0;
    background-size: 18px;
    background-repeat: no-repeat;
}
